.App_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.App_header {
  border-bottom: 1px solid var(--color-dark);
  background-color: var(--color-primary);
  margin-bottom: 10px;
}

.App_header .App_container {
  color: var(--color-dark);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App_brand {
  font-size: 20px;
}

.App_brand a {
  color: var(--color-dark);
  text-decoration: none;
}

.App_logout {
  border: none;
  background: none;
  font-size: 13px;
}
